body {
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  background-color: blueviolet;
  justify-content:space-between;
}
header .profile-thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 2px;
}
header .profile-name {
  display: flex;
  margin-left: 10px;
}
header .follow-btn {
  display: flex;
  align-self:flex-start;
}
header .follow-btn button {
  border: 0;
  border-radius: 13px;
  padding: 10px;
  margin: auto;
}
header .online-lable {
  color: #555;
  background-color: aliceblue;
	display: flex;
	padding: 10px;
  margin: auto-fill;
  height: 15px;
  width: 60px;
  border-radius: 13px;
  text-justify: auto;
  
}
header h3, header h4 {
  display: flex;
  margin: 10px;
  margin-left: 250px;
  font-size:30px;

}
#inner p {
  margin-bottom: 10px;
  font-size: 20px;
}
#inner hr {
  margin: 20px 0;
  border-style: solid;
  opacity: 0.1;
}
footer {
  display: flex;

}
footer .stats {
  display: flex;
  font-size: 15px;
}
footer .stats strong {
  font-size: 18px;
}
footer .stats .likes {
  margin-left: 10px;
}
footer .cta {
  margin-left: auto;
}
footer .cta button {
  border: 0;
  background: transparent;
}