/* CSS styles */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,80);
*{margin:0; padding:0;   font-family: 'Montserrat';}
.back {
width: 100%;
background: url(https://s3-alpha-sig.figma.com/img/f4ca/93a9/3b4e447bcd04b1d0202f8d71a9e4138d?Expires=1632096000&Signature=b-MdfNVqWGZ7~j~OIs5gWZHcISDgR6G9mOXXo~aEg0Rokvr~bxKgviWvJeutrMplrhothsVVATCFfgKk-lWuoZpYLkZLAxQznKDQXW2K2gkcsTE9LsvJpUsgwwFULW1o6BkblOVrIQNKCNeC65dabPEpX6N8fZxTzF5p8MBl02Zk-ObSm3bv~WeUYtmLLy-Ua2KiqTYpZ-l3dC965fxjPeAokcwRUEckjKN39BRq8fat9jzDSjSe95b4KFRufr5-OuCAAKkKad20FjFlU~KcASmZi-H9DgDRjehkGy3r8eWWa14bKMAe6vJMavuexJ-chx6KJaBYPNNas3USlrwJ0A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA) no-repeat center center fixed;
background-size: cover;
}
.opacity{
  background: linear-gradient(180deg,
       rgba(0, 0, 0, 0.5) 0%,
       rgba(118, 118, 118, 0.465234) 71.35%,
       rgba(255, 255, 255, 0) 100%);
}
header{
  padding:10px 0;
  text-align: center;
}
header h1{
  color: #FFF;
  font-size: 3.5em;

}
nav{
  padding: 10px 0;
  text-align: center;
}
nav p{
  color: #FFF;
  font-size:2em;
}
.container{
  position: relative;
  overflow: hidden;
  width: 1000px;
  margin: 50px auto;
padding: 10px 15px;
  background-color:#FFF;
}
.container .circle{
    position:absolute;
    width: 149.45px;
    height: 201.96px;
  left: -35.52px;
  top: -2%;
  background: #8EC2F2;
  opacity: 0.25;
  transform: matrix(-0.71, 0.81, -0.61, -0.71, 0, 0);
  border-radius:40%
}
.first{
  display: flex;
  gap: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
}
.first .left, .first .right{
  position: static;
  width: 50%;
}
.first .left h2{
  color: #252B42;
  font-size: 2em;
  margin-bottom: 15px;
}
.first .left p{
  color: #737373;
  font-size: 0.8em;
  margin-bottom: 35px;
}
.first .left button{
    border: 1px solid #23A6F0;
  border-radius: 26.27px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}
.learn{
  padding: 10.65px 20.56px;
  background: #FFF;
  color: #23A6F0;
}
.first .left .learn:hover,
.first .left .learn:active{
  background: #23A6F0;
  color: #FFF;
}
.doit{
  padding: 10.65px 27.56px;
  background: #23A6F0;
  color: #FFF;
}
.first .left .doit:hover,
.first .left .doit:active{
  background: #FFF;
  color: #23A6F0;
}
.first .right .photo{
  width: 80%;
  margin: 0 0 0 auto;
  height: 100%;
  position: relative;
  transform: rotate(21deg);
}
.first .right .photo img{
    display: block;
  width: 100%;
  height: 100%;

}
.first .right .photo button{
  position: absolute;
  bottom: 8%;
  left: 25%;
  background: #FFF;
  color: #23A6F0;
  border-radius: 26.27px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid #23A6F0;
}
.first .right .photo button:hover,
.first .right .photo button:active{
  background: #23A6F0;
  color: #FFF;
}
.worry{

padding: 20px 200px;
padding-top: 50px;
font-family: 'Montserrat';
font-weight:bolder;
font-size: 28.4px;
line-height: 40px;

letter-spacing: 0.542px;
text-align: center;

color: #252B42;
}
.ifyou{
  padding: 20px 200px;
  font-family: 'Montserrat';
  text-align: center;
font-weight: 500;
font-size: 9.94px;
line-height: 14px;
color: #737373;

}
.second{
  width: 90%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 5%;
  font-weight: bold;
font-size: 11.36px;
line-height: 17px;
  text-align: center;
}
.second .discuss{
  width: 27%;
  background: #FAFAFA;
  border: 2.71px solid #E9E9E9;
  box-sizing: border-box;
  border-radius: 3.55px;
  color: #252B42;
}
.second .study{
  width: 25%;
  background: #23A6F0;
  border: 2.71px solid #E9E9E9;
  color: #FFF;
}
 .vector{
width:40px;
height:30px;
padding: 5%;
}
footer{
font-family: "Montserrat";
font-style: normal;
font-weight: bold;
letter-spacing: 0.142px;
color: #252B42;
text-align: center;
padding: 5%;
}
footer .say{
  font-size: 28.4px;
  line-height: 40px;
}
footer .once{
  font-weight: 500;
  font-size: 13.94px;
  line-height: 14px;
  color: #737373;
}
